@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-cyan:hsl(158, 36%, 37%);
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

body{
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    background-color: var(--almost-white);
    display: grid;
    grid-template-areas: 
        "header header"
        "content photo"
        "footer photo";
    height: 100vh;
    grid-template-rows: auto auto auto;
}
button{
    border:none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--almost-white);
    font-weight: inherit;
    color: inherit;
}
a{
    text-decoration: none;
    color: var(--medium-gray);
}

a:hover{
    color: var(--almost-black);
}

header{
    margin-top: 1em;
    margin-left: 1em; 
    margin-right: 1em;
    /* font-weight: 700; */
    grid-area: header;
}
.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: baseline; */
    align-items: center;
    font-size: 0.7em;
}

.logo{
    padding-right: 1em;
}
.logo img{
    display: block;
}
.page-nav{
    display: flex;
    flex-direction: row;
    /* width: 35%; */
    justify-content: space-between;
    align-items: center;
    column-gap: 3em;
}
.page-nav > *{
    color: var(--medium-gray);
}
.page-nav > *:hover{
    color: var(--almost-black);
}
.login-register{
    display: flex;
    column-gap: 3em;
    color: var(--medium-gray);
}
.login-register>*:hover{
    color: var(--almost-black);
}
.register{
    padding: 1em 2em;
    border-color: var(--medium-gray);
    border-style: solid;
    border-radius: 1em;
}
.register:hover{
    border-color: var(--almost-black);
}
main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5em;
}
.title{
    font-size: 5em;
    font-weight: 700;
}
.main-img{
    grid-area: photo;
    /* max-width: 100%;
    height: auto; */
    margin-right: 5em;
}
/* remove */
.main-img img{
    max-width: 100%;
    height: auto;
}
/*  */
footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: end;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
}

.dropdown-features{
    position: relative;
}

.dropdown-company{
    position: relative;
}

.dropdown-features-content{
    display: none;
    position: absolute;
    right: 0em;
    box-shadow: 0em 0em 1em var(--medium-gray);
    border-radius: 1em;
    padding: 1em;
    height: 10em;
    background-color: var(--almost-white);
    white-space: nowrap;
}

.dropdown-company-content{
    display: none;
    position: absolute;
    right: 0em;
    box-shadow: 0em 0em 1em var(--medium-gray);
    border-radius: 1em;
    padding: 1em;
    height: 8em;
    width: fit-content;
    background-color: var(--almost-white);
    white-space: nowrap;
}

.dropdown-features:active button img{
    /* content: url(./images/icon-arrow-up.svg); */
}

.dropdown-features:hover .dropdown-features-content{
    
}

.dropdown-company:hover .dropdown-company-content{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}